# Ignore everything
*
.themes/

# Track specific dotfiles
!.zshrc
!.zshenv
!.tmux.conf
!.gitignore
!.gitconfig

# Allow .config but ignore everything inside
!.config/
.config/*

# Explicitly allow these folders inside .config
!.config/fastfetch/**
!.config/ghostty/**
!.config/mpv/**
!.config/nvim/**
!.config/starship.toml

# Now blacklist individual noisy files (these will now work!)
.config/nvim/lazy-lock.json

# Editor swap/backup/temp files
*.swp
*.swo
*~
*.tmp

