@import "/home/efaz/.config/omarchy/current/theme/walker.css";

/* Reset */
* {
  all: unset;
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

/* 12px Rounded Corners & Theme Colors */
.box-wrapper {
  background-color: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
  border-radius: 12px;
}

.search-container {
  background-color: @base;
  padding: 10px;
  border-radius: 8px;
}

.input {
  color: @text;
}

.item-text-box {
  padding: 14px 0;
}

.item-text {
  color: @text;
}

child:selected .item-box * {
  color: @selected-text;
}

/* Hide Keybind Hints (F1, F2, etc.) */
.keybind-hints {
  display: none;
}
